html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")

        link(rel="stylesheet", href="/stylesheets/06test.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
    crossorigin="anonymous")
    body
        .test1 1단계
            .test2 2단계
                .test3 3단계-1
                .test3 3단계-2
        .test1 1단계g
            .test2 2단계g
                .test3 3단계-1g
                .test3 3단계-2g


        script(src="/javascripts/test.js")
