html
  head
    link(rel="stylesheet", href="/stylesheets/button-test.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
    crossorigin="anonymous")
  body
  .background
    .click-button
      i.material-icons navigate_next
    .nav
      .header 검색 옵션
      .content-box
        .header-text Checkboxes
        .button-box
          .button.check
            i.material-icons.check-button check_box_outline_blank
            .text(option = 0) 밑줄
          .button.check
            i.material-icons.check-button check_box_outline_blank
            .text(option = 1) 백그라운드
          .button.check
            i.material-icons.check-button check_box_outline_blank
            .text(option = 2) 굵게
          .button.check
            i.material-icons.check-button check_box_outline_blank
            .text(option = 3) 기울이기
      .line
      .content-box
        .header-text Radio buttons
        .button-box
          .button.radio
            i.material-icons.radio-button radio_button_unchecked
            .text(index = 0)#character 글자
          .button.radio
            i.material-icons.radio-button radio_button_unchecked
            .text(index = 1)#word 단어
          .button.radio
            i.material-icons.radio-button radio_button_unchecked
            .text(index = 2)#sentence 문장
      .line
      .empty
    .content
      .main-content
        .header
          .search-bar
            i.material-icons search
            input(placeholder="Search")
        .text#text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it?It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).



      .sub-content
  script(src="/javascripts/button-test.js")
  //.ui-bar
  //.header
  //  i.material-icons menu
  //  .text Settings
  //  .flex
  //  i.material-icons search
  //  i.material-icons more_vert
  //.content-box
  //  .check-box
  //    .text Checkboxes
  //    .button-box
  //      .check-button
  //      .text Line item selected
  //    .button-box
  //      .check-button
  //      .text Line item unselected
  //  .line
  //  .radio-box
  //    .text Radio buttons
  //    .button-box
  //      .radio-box
  //        .radio-button
  //        .text Line item selected
  //      .radio-box
  //        .radio-button
  //        .text Line item unselected
  //  .line
  //
