html
  head
    link(rel="stylesheet", href="/stylesheets/filter.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
      crossorigin="anonymous")
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
  body
    .background
      .search-zone
        .member#0 허재종
        .member#1 홍준엽
        .member#2 공현식
        .member#3 이수정
        .member#4 홍주원
      .button-zone
        .button click
      .result-zone

    script(src="/javascripts/filter.js")