html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/instagrm.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
    body
        .header
            .content
                .header-main
                    .main
                        i.fab.fa-instagram
                        .border-right |
                        .instagram
                    .flex
                    .search
                        .search-bar
                            i.fa.fa-search
                            input(placeholder="Search")
                    .flex
                    .icons
                        i.far.fa-compass.icon
                        i.far.fa-heart.icon
                        i.far.fa-user.icon
                .header-content
                    .picture
                        .self
                    .introduce
                        .name-tag
                            .name bumkey
                            i.fas.fa-check-circle
                            .follow follow
                        .introduce-session SHINee KEY luv little freaks
                        .insta-number
                            .num-session
                                .number 2,158
                                .title posts
                            .num-session
                                .number 5.5m
                                .title followers
                            .num-session
                                .number 14
                                .title following
                    .flex
                .header-icons
                    .empty
                    i.fas.fa-th.icon
                    i.fas.fa-bars.icon
                    i.fas.fa-map-marker-alt.icon
                    i.fas.fa-tags.icon
        .view
            .card-view
                .card-session
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
                    .card
