link(rel="stylesheet", href="/stylesheets/kakaomenu.css")

.menubar
    a.menu(href="/users/kakaofriend", title="chat").menu-friend
        i.far.fa-user


    a.menu(href="/users/kakaochat", title="chat").menu-chat
        i.far.fa-comment
    .menu
        i.far.fa-newspaper
    a.menu(href="/users/kakaosetting", title="setting").menu-setting
        i.fas.fa-ellipsis-h