extends kakaolayout

block link
    link(rel="stylesheet", href="/stylesheets/kakaochat.css")


block menu
    include kakaomenu


block content
    .chat
        .user
            .photo
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name ㄱ홍주원
                .text
                    .text-message ㅎㅎ
            .date 오전 11:18

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 이지나
                .text
                    .text-message 화이링이에요~
            .date 오전 4:03

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 윤찬식
                    i.material-icons notifications_off
                .text
                    i.fas.fa-file
                    .text-message MaboPlayLogo.swift
            .date 18/6/10

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 윤태린
                .text
                    .text-message 넵넵 내일 봬여!!
            .date 18/6/10

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 01047257914
                .text
                    .text-message 넵 쉬세요~
            .date 18/6/9

        .user
            .photo-2
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 배달의 민족
                .text
                    .text-message 안녕하세요 배달의 민족입니다.
            .date 18/6/9

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 정다혜
                .text
                    .text-message (반짝반짝)
            .date 18/6/9

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name ID Lab
                    .group 11
                    i.material-icons notifications_off
                .text
                    .text-message 관심있는분 있을까봐 공유드려요
            .date 18/6/8

        .user
            .photo-1
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 조성현
                .text
                    i.fas.fa-file
                    .text-message config.zip
            .date 18/6/8

        .user
            .photo-3
            a.session(href="/users/kakaouserchat", title="userchat")
                .name-profile
                    .name 카카오페이
                .text
                    .text-message 결제가 완료되었습니다.
            .date 18/6/8

