extends kakaolayout

block link
    link(rel="stylesheet", href="/stylesheets/kakaofriend.css")

block menu
    include kakaomenu

block content
    .friend
        .session 내 프로필
        .user
            .photo.photo-1
            .name 이수정
            .flex
            .message 다영
        .session 그룹
        .user
            .photo.photo-1
            .name 플러스친구
            .flex
            .number 8
            .link >
        .session 친구 11
        a.user(href="/users/kakaoprofile", title="profile")
            .photo.photo-2
            .name ㄱ홍주원
            .flex
            .message

        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 공용배
            .flex
            .message Cerca Trova
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 구윤정
            .flex
            .message
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 권다인
            .flex
            .message 하트하트하트

        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 권연준
            .flex
            .message 안심하라구!
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 권오현
            .flex
            .message 예쁜혜영이
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 길영수
            .flex
            .message 쓰담쓰담-10cm

        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 김세영형
            .flex
            .message 건강과 안전, 최고의 가치입니다.
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 김시원 과장
            .flex
            .message 후반전~
        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 김영빈
            .flex
            .message

        a.user(href="/users/kakaoprofile", title="profile")
            .photo
            .name 김영철
            .flex
            .message 시간을 달라
