doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')


    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")


    link(rel='stylesheet', href='/stylesheets/albumBootstrap.css')
    link(rel="stylesheet", href="/stylesheets/album.css")
    link(rel ="stylesheet", href="/stylesheets/addAlbum.css")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
    crossorigin="anonymous")

    script(src="/javascripts/p5.js")
    script(src='/javascripts/addons/p5.dom.min.js')
    script(src='/javascripts/addons/p5.sound.min.js')


  body
    #background
    .content
      header
        #navbarHeader.collapse.bg-dark
          .container
            .row
              .col-sm-8.col-md-7.py-4
                h4.text-white About
                p.text-muted
                  | Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
              .col-sm-4.offset-md-1.py-4
                h4.text-white Contact
                ul.list-unstyled
                  li
                    a.text-white(href='#') Follow on Twitter
                  li
                    a.text-white(href='#') Like on Facebook
                  li
                    a.text-white(href='#') Email me
        .navbar.navbar-dark.box-shadow.blue-color
          .container.d-flex.justify-content-between
            a.navbar-brand.d-flex.align-items-center(href='#')
              //svg.mr-2(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                //path(d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z')
                //circle(cx='12', cy='13', r='4')
              .i.material-icons home
              strong Blog
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
      main(role='main')
        section.jumbotron.text-center.container-make
          .container.container-make
            h1.jumbotron-heading sooojungee.io
            p.lead.text-muted
              | E-Mail: sooojungee@gmail.com
              br
              | GitHub: https://github.com/sooojungee
              //| Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
            p
              a.btn.btn-primary.my-2.text-padding.text-margin.text-size(href='#') Send mail
              a.btn.btn-secondary.my-2.text-padding.text-size(href='https://github.com/sooojungee') Visit github
        .album.py-5.bg-light
          .container.background-color
            .row
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/bzYEYd/2018_07_22_8_17_13.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JULY 2018
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/c0zJ9J/2018_07_22_7_06_49.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JULY 2018
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/crYpGy/2018_07_22_5_56_08.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JUNE 2018
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/g5Gy9J/2018_07_22_7_03_06.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JUNE 2018
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/eMr9Gy/2018_07_22_5_55_12.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JUNE 2018
              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/iVmtby/2018_07_22_5_54_35.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JUNE 2018

              .col-md-4
                .card.mb-4.box-shadow
                  img.card-img-top.padding-8(src='https://preview.ibb.co/jeFpid/2018_07_22_5_53_59.png', alt='Card image cap')
                  .card-body
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        button.btn.btn-sm.btn-outline-secondary.width(type='button') View
                        //button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                      small.text-muted JUNE 2018

      footer.text-muted
        .container
          p.float-right
            a(href='#') Back to top
          p Album example is © Bootstrap, but please download and customize it for yourself!
          p
            | New to Bootstrap?
            a(href='../../') Visit the homepage
            |  or read our
            a(href='../../getting-started/') getting started guide
            | .

    script(src="/javascripts/album-test.js")

