html
    head
        title= title
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/test.css")
    body
        .header
            .content
                .flex
                .content-box
                    .box-cell · HOME
                    .box-cell · LOGIN
                    .box-cell · PORTAL
                    .box-language
                        .language-check LANGUAGE
                        i.material-icons arrow_drop_down
                    .box-search
                        .search-bar
                        i.material-icons search

        .nav
            .content
                .nav-img
                .flex
                .nav-main
                    .main-session 학교소개
                    .main-session 입학/교육
                    .main-session 산학/연구
                    .main-session 학사지원
                    .main-session 대학생활
                    .main-session 아주광장

        .img-zone
            .content
                .content-mini
                    i.material-icons.direction chevron_left
                    i.material-icons.direction chevron_right
                    .content-point
                        i.material-icons.position fiber_manual_record
                        i.material-icons.position fiber_manual_record
                        i.material-icons.position.icon-white fiber_manual_record
                        i.material-icons.position fiber_manual_record
                        i.material-icons.position fiber_manual_record

        .news-zone
            .content
                .news-contents
                    .news-main
                        .news-button
                            .news-click NEWS
                            .flex
                            i.material-icons add
                        .news-item
                            .news-content
                                .news-image.news-image-1
                                    .opacity
                                .news-title
                                    h1 로이터 '2018 아시아 혁신대학 평가' 3년 연속 韓 10위권
                                .news-body 우리 학교가 로이터 선정 '2018 아시아 혁신대학 평가'에서 3년 연속 국내 순위 10위권을 유지했다. 평가대학 아시아 대학 가운데서는
                            .news-content
                                .news-image.news-image-2
                                    .opacity
                                .news-title
                                    h1 김성환·박지용 교수팀, 생체조직과 유사한 '전자 피부' 구현
                                .news-body 김성환·박지용 교수 연구팀이 누에고치에서 추출한 실크 단백질을 활용해 실제 피부와 비슷한 특성을 가지는 바이오 소재 기반 전자 피부를 구현하는 데 성공했다.
                            .news-content
                                .news-image.news-image-3
                                    .opacity
                                .news-title
                                    h1 전윤수 교수 연출 '세이브 미' 밀라노국제영화제 수상
                                .news-body 우리 학교 문화콘텐츠학과 전윤수 교수(사진)가 연출한 단편영화 '세이브 미'가 밀라노 국제 영화제 국제 단편영화 부문에서 수상했다.
                .notice-contents
                    .notice-main
                        .notice-button
                            .notice-click NOTICE
                        .notice-content
                            .notice-box
                                .notice-summary
                                    .summary-title 학사
                                    .summary-content [학사]2018-2학기 재입학 신청 안내(6.11~6.27)
                                .notice-summary
                                    .summary-title 장학
                                    .summary-content 2018 新세계문화탐방 발표 및 면접 대상자 공고
                                .notice-summary
                                    .summary-title 학술
                                    .summary-content [SW중심대학] 2018-1 Ajou Greative Software Concert 개최
                                .notice-summary
                                    .summary-title 학사
                                    .summary-content [아주강좌] 제 371강 강연 안내
                                .notice-summary
                                    .summary-title 장학
                                    .summary-content [중요] 2학기 교내장학 신청_6.29(금) 까지
                                .notice-summary
                                    .summary-title 학사
                                    .summary-content [다산융복합교육센터]제7회 강의페어링 공모전 전시 개최
                                .notice-summary
                                    .summary-title 장학
                                    .summary-content 2018년 하반기 삼성드림클래스 주중주말교실 강사 선발 안내

                            .notice-box
                                .notice-image
                            .notice-box
                                .notice-date
                                    .date-check
                                        .check-month Jun
                                        .check-date 06
                                    .date-content 체육관 전국동시지방선서 개표소 지정 안내
                                .notice-date
                                    .date-check
                                        .check-month Jun
                                        .check-date 06
                                    .date-content 2018 코리아, 국제개발협력에 길을 묻다
                                .notice-date
                                    .date-check
                                        .check-month Jun
                                        .check-date 06
                                    .date-content 2018학년도 2학기 교내장학 신청
