
*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  border-collapse: collapse
  background: #ccc

.content-box
  padding: 8px


.click-button
  position: fixed
  width: 40px
  height: 40px
  bottom: 70px
  left: 70px
  border: 4px solid rgba(98, 33, 234, 0.8)
  z-index: 10
  border-radius: 10px
  background: white
  cursor: pointer
  i
    color: rgba(98, 33, 234, 0.8)
    font-size: 32px
    font-weight: 600

.header
  width: 100%
  height: 56px
  background: rgb(98, 33, 234)
  color: white
  line-height: 60px
  font-size: 20px
  padding-left: 16px

.background
  width: 1200px
  height: 600px
  background: #ccc
  display: flex
  padding: 4px
  .nav
    color: #333
    height: 100%
    //width: 400px
    background: white
    //border-right: 4px solid #ccc
    width: 0px
    pointer-events: none
    transition: width 0.4s
    &[status=open]
      width: 400px
      border-right: 4px solid #ccc
      transition: width 0.4s
      pointer-events: all

    .header-text
      width: 100%
      height: 30px
      padding: 16px

    .button
      display: flex
      //margin: 4px 0
      padding: 16px
      width: 100%
      height: 48px
      align-items: center
      cursor: pointer
      .i
        width: 24px
        height: 24px
        border: 2px solid #999
        border-radius: 3px

      .text

        padding-left: 16px
        height: 100%
        font-size: 16px

    .line
      width: 100%
      height: 1px
      background: #ddd
      //margin: 4px 0
  .content
    width: 100%
    height: 100%
    .header
      padding: 8px
      .search-bar
        display: flex
        width: 260px
        height: 40px
        position: relative
        padding-left: 16px
        input
          width: 260px
          border-radius: 2px
          border: none
          font-size: 20px
          padding-right: 45px
        i
          position: absolute
          line-height: 32px
          font-size: 24px
          font-weight: 600
          padding: 4px
          right: 8px
          color: #666
    .main-content
      width: 100%
      height: 400px
      background: white
      overflow-y: auto
      border: 16px solid white
      border-left: 8px solid white
      border-right: 8px solid white
      &::-webkit-scrollbar
        width: 4px
      &::-webkit-scrollbar-thumb
        background: #ccc
        border: 1px solid white
        border-radius: 5px
      .content-box
        height: 386px
        //overflow-y: auto

        .text
          text-align: justify
          line-height: 24px
    .sub-content
      width: 100%
      overflow-y: auto
      height: 136px
      padding: 8px
      line-height: 24px

      background: white
      //border: 8px solid white
      border-top: 4px solid #ccc
      border-left: 8px
      //border-top: 8px #f00
      //border-bottom-width: 16px

      &::-webkit-scrollbar
        width: 4px
      &::-webkit-scrollbar-thumb
        background: #ccc
        border: 1px solid white
        border-radius: 5px

