*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  background: #222
  width: 100%
  height: 100vh

.flex
  flex: 1


.execute
  margin: 16px
  padding: 8px
  position: absolute
  width: 140px
  height: 40px
  border: 1px solid #ccc
  bottom: 10px
  left: 10px
  line-height: 24px
  text-align: center
  cursor: pointer

.section
  width: 1000px
  height: 600px
  background: #00B7FF
  display: flex
  .menu-section
    width: 200px
    height: 100%
    background: white
    padding: 16px
    position: relative
    .header
      padding: 8px
      font-size: 20px
      line-height: 20px
    .separator
      width: 100%
      height: 1px
      background: #ccc
      margin: 8px 0
    .button-box
      margin: 8px 0
      width: 168px
      height: 60px
      padding: 16px 8px
      //background: mediumpurple
      .option
        margin: 4px 0
      .option-box
        width: 130px
        height: 30px
        background: #00B7FF
        display: flex
        .type
          height: 100%
          cursor: pointer
        .type-1
          background: linear-gradient(red, yellow)
        .type-2
          background: linear-gradient(purple, orange)
        .type-3
          background: linear-gradient(pink, white)
        .type-4
          background: linear-gradient(yellow, cornflowerblue)
      input
        width: 130px
        height: 30px
        outline: none
  .main-section
    width: 800px
    height: 600px





